__pycache__/
*.pyc
*.pyo
*.db
*.log
.env
node_modules/
Road_Network/
Road_Network.zip
cloud_function/
functions/
.DS_Store
.firebase/
thermal_alert.db
*.pt
*.onnx
*.onnx.data
*.pt
yolov5/
*.mp4
Fire_Smoke_Detection_Inference-main/

